absl_py==1.4.0
jittor==1.3.9.14
ml_collections==0.1.1
numpy==1.24.4
numpy==1.23.5
six==1.16.0
six==1.17.0
sympy==1.13.3
tensorflow==2.13.1
tensorflow_datasets==4.9.2
tensorflow_gan==2.1.0
tensorflow_hub==0.16.1
torch==2.4.1
